/*Cabecera*/

body{
    background-color: rgba(0, 0, 0, 0.082);
    margin: 0px;
}
header{
    width: 100%;
    height: 100%;
    background-color: #615f5f;
    left: 0px;
    border-bottom: 3px solid orange;
}

.cabecera{
    width: 100%;
    padding-left: 34%;
    display: inline;
}
.cabecera h1{
    padding-left: 45%;
    color: white;
}

.buscador{
    padding: 12px 15px;
    padding-top: 0%;
    padding-left: 40%;
}

form input{
    height: 40px;
    border: 1px solid black;
    width: 350px;
    border-radius: 6px;
    
}

form button{
    border: none;
    width: 70px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    background-color: orange;
    
}

form button:hover{
    background-color: rgba(122, 88, 13, 0.719);
    transition: 0.3s;
}

button:hover{
    cursor: pointer;
}


/*      Barra       */

.main-nav{
    
    display: block; 
    text-align: center;  
    padding: 10px; 
    padding-bottom: 2em;
    position: relative;
    z-index: 111;
    
}

.main-nav a{
    padding:1em;    
    text-decoration: none;
    color: white;
}

#interfaz{
    text-align: right;
}
#usuarios{
    text-align: left;
}

.main-nav div{
    float: left;
    width: 44%;
}
.main-nav a:hover{
    background-color:rgba(133, 129, 129, 0.747) ;
    transition: 0.3s;
}



/*Fin de todo cabecera*/

/*Productos*/

.contenedor_main{
    text-align: center;
    
}

.contenedor_main h2{
    color: rgba(0, 0, 0, 0.678);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1em;
    grid-gap: 5em;
    
}


@media only screen and (max-width:1500px) {
    .wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width:1300px) {
    .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

.blackbox{
    border: 1px solid;
    border-color: rgba(97, 97, 105, 0.1);
    border-radius:0.5em;
    background-color: rgba(97, 97, 105, 0.1);
    max-width: max-content;
    transition: 0.3s;
    justify-self: center;
}


.blackbox:hover{
    background-color: rgba(25, 25, 27, 0.479);
    transform: scale(1.1);
    transition: 0.3s;
}

.mostrar{
    padding-top: 3em;
    padding-bottom: 3em;
}

#contenedor_categorias form{
    display: inline-block;
    padding-left: 2em;
}

#inicio{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 5px;
     
}

/*Paginacion*/

#pag_control a{
    text-decoration: none;
    border: 1px thin white;
    border-radius: 6px;
    background-color: rgb(69, 69, 240);
    color: white;
    padding-left:1em;
    padding-right: 1em;
    margin-left: 2px;
    margin-right: 2px;
}

#pag_control a:hover{
    background-color: rgba(69, 69, 240, 0.664);
    transition:0.3s;
}
#pag_control p{
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    background-color:rgba(11, 11, 53, 0.76);
    border:1px;
    border-radius: 3px;
}

a:visited {
     text-decoration: none;  
}


/*Productos*/
.contenedor_imagen{
    display: grid;
    text-align: center;
    padding-top: 5em;
    
}

.imagen_prod{
    padding:3em;
    padding-bottom: 6em;
    border: 1px solid black;
    justify-self: center;
    border-radius: 4px;
}