#cont_tabla{
    padding-top: 2rem;
    padding-left: 30%;
    padding-right: 33%;
    padding-bottom: 1rem;    
}
.tabla {
    border: 1px black solid;
    text-align: center;
    border-collapse: collapse;
    
}
#cont_tabla .tabla th{
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px black solid;
}

.tabla_producto td{
    border: 1px black solid;
    cursor: pointer;
}

.scroll{
    height: 60px;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
}

.scroll.desc{
    width: 13rem;
}

::-webkit-scrollbar {
    display: none;
}
.scroll p{
    margin:0;
}

.nomargin{
    height: max-content;
    margin:0;
}

button{
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    background-color: orange;
    
}

button:hover{
    background-color: rgba(122, 88, 13, 0.719);
    transition: 0.3s;
}

button:hover{
    cursor: pointer;
}